<div class="hero_area">
  <!-- header section strats -->
  <a class="navbar-brand" routerLink="/home">
    <span>
      Easy Market
    </span>
  </a>
  <header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>

      <div class="collapse navbar-collapse flex-end" id="navbarSupportedContent" [ngSwitch]="loggedType">
        <div class="user_option" *ngSwitchCase="'home'">
          <a routerLink="/login">
            <button mat-icon-button color="primary" aria-label="login">
              <mat-icon [ngStyle]="{'color':'black'}" aria-label="login" matTooltip="login" routerLink="/login">login</mat-icon>
            </button>
            <span>
              Login
            </span>
          </a>
        </div>

        <div class="user_option" *ngSwitchCase="'customer'">
          <a routerLink="/home">
            <button mat-icon-button color="primary" aria-label="home">
              <mat-icon [ngStyle]="{'color':'black'}" aria-label="home" matTooltip="home">home</mat-icon>
            </button>
            <span>
              Home
            </span>
          </a>
          <a routerLink="/home/address">
            <button mat-icon-button color="primary" aria-label="address">
              <mat-icon [ngStyle]="{'color':'black'}" aria-label="address" matTooltip="address">add_location_alt</mat-icon>
            </button>
            <span>
              Address
            </span>
          </a>
          <a routerLink="/home/cart">
            <button mat-icon-button color="primary" aria-label="shopping cart">
              <mat-icon [ngStyle]="{'color':'black'}" [matBadge]="auth.cartAmount" matBadgeColor="accent" aria-label="shopping cart">shopping_cart</mat-icon>
            </button>
            <span>
              Cart
            </span>
          </a>
          <a>
            <button mat-icon-button color="primary" aria-label="logout" (click)="logout()">
              <mat-icon [ngStyle]="{'color':'black'}" aria-label="logout" matTooltip="logout" >logout</mat-icon>
            </button>
          </a>
        </div>

        <div class="user_option" *ngSwitchCase="'admin'">
          <a routerLink="/admin">
            <button mat-icon-button color="primary" aria-label="home">
              <mat-icon [ngStyle]="{'color':'black'}" aria-label="home" matTooltip="home">home</mat-icon>
            </button>
            <span>
              Home
            </span>
          </a>
          <a routerLink="/admin/order">
            <button mat-icon-button color="primary" aria-label="order">
              <mat-icon [ngStyle]="{'color':'black'}" aria-label="order" matTooltip="order">playlist_add_check_circle</mat-icon>
            </button>
            <span>
              Order
            </span>
          </a>
          <a>
            <button mat-icon-button color="primary" aria-label="logout" (click)="logout()">
              <mat-icon [ngStyle]="{'color':'black'}" aria-label="logout" matTooltip="logout" >logout</mat-icon>
            </button>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <!-- end header section -->
</div>
