<app-navigation></app-navigation>

<div class="hero_area">
    <div class="body">
        <div class="main">
            <!-- Sign In Form -->
            <section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="assets/img/signin-image.jpg" alt="sign in image"></figure>
                            <a routerLink="/register" class="signup-image-link">Create an account.</a>
                        </div>
    
                        <div class="signin-form">
                            <h2 class="form-title">Log In</h2>
                            <form class="register-form" id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="form-group">
                                    <label for="your_name"><mat-icon [ngStyle]="{'color':'black'}" aria-label="username" matTooltip="username">person</mat-icon></label>
                                    <input type="text" name="your_name" id="your_name" formControlName="email" placeholder="Username"/>
                                </div>
                                <div class="form-group">
                                    <label for="your_pass"><mat-icon [ngStyle]="{'color':'black'}" aria-label="password" matTooltip="password">key</mat-icon></label>
                                    <input type="password" name="your_pass" id="your_pass" formControlName="password" placeholder="Password"/>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
