<app-navigation></app-navigation>

<div class="hero_area">
    <div class="body">
        <div class="main">
            <!-- Sign up form -->
            <section class="signup">
                <div class="container">
                    <div class="signup-content">
                        <div class="signup-form">
                            <h2 class="form-title">Address</h2>
                            <form class="register-form" id="register-form" #f="ngForm" (ngSubmit)=" addOrUpdateAddress()" novalidate>
                                <div class="form-group">
                                    <label for="address">Address: </label>
                                    <input type="text" name="address" id="address" [(ngModel)]="model.address" placeholder="Address"/>
                                </div>
                                <div class="form-group">
                                    <label for="city">City: </label>
                                    <input type="text" name="city" id="city" [(ngModel)]="model.city" placeholder="Atlanta"/>
                                </div>
                                <div class="form-group">
                                    <label for="address">State: </label>
                                    <input type="text" name="state" id="state" [(ngModel)]="model.state" placeholder="Georgia"/>
                                </div>
                                <div class="form-group">
                                    <label for="address">Country: </label>
                                    <input type="text" name="country" id="country" [(ngModel)]="model.country" placeholder="US"/>
                                </div>
                                <div class="form-group">
                                    <label for="address">Zipcode: </label>
                                    <input type="text" name="zipcode" id="zipcode" [(ngModel)]="model.zipcode" placeholder="22222"/>
                                </div>
                                <div class="form-group">
                                    <label for="age">Phone Number: </label>
                                    <input type="number" name="phonenumber" id="phonenumber" [(ngModel)]="model.phonenumber" placeholder="+12342223456">
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="update" id="update" class="form-submit" value="Update"/>
                                </div>
                            </form>
                        </div>
                        <div class="signup-image">
                            <figure><img src="assets/img/address.png" alt="address image"></figure>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
