.card-text{
    height: 50px;
    overflow: hidden;
  }
.mybtn{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mybtnclr{
    margin-left:10px;
}

.input-box {
    display:flex;
}

.image-display {
    width: 425px;
    height: 300px;
}

.input-label {
    padding-left: 0;
}